.navbar{
    padding: 1em;
    background-color: #222;
    height: 10vh;
}

.logo{
    max-height: calc(10vh - 2em);
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
    color: #fff;
    text-decoration: none;
}

.item:hover{
    color: #ffbb33;
}

